* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: Parafina_Black;
    src: url(../assets/fonts/ParafinaTrial-BlackM.otf);
}

@font-face {
    font-family: Parafina_Bold;
    src: url(../assets/fonts/ParafinaTrial-BoldM.otf);
}

@font-face {
    font-family: Parafina_Light;
    src: url(../assets/fonts/ParafinaTrial-LightM.otf);
}

@font-face {
    font-family: Parafina_Medium;
    src: url(../assets/fonts/ParafinaTrial-MediumM.otf);
}

@font-face {
    font-family: Parafina_Regular;
    src: url(../assets/fonts/ParafinaTrial-RegularM.otf);
}

@font-face {
    font-family: Parafina_Thin;
    src: url(../assets/fonts/ParafinaTrial-ThinM.otf);
}

:root {
    --tealPrimary: #1abc9c;
    --RbluePrimary: #3b82f6;
    --offWhite: #f2f0ef;
    --lightGray: #d3d3d3;
    --deepBlack: #0D0D0D;
}

/* 
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

a {
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    height: 80vh;
    /* margin: 50px; */
    padding: 10%;
}

li {
    list-style: none;
}

.heading h2 {
    font-family: "Parafina_Bold", sans-serif;
}

/* header {
    position: sticky;
} */

.navbar {
    background-color: var(--RbluePrimary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding: 20px 50px;
    position: relative;

}

.nav-links ul {
    font-weight: 500;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 0;
    gap: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    color: var(--offWhite);
}

.nav-links a:hover {
    color: var(--lightGray);
    /* animation: ease-in-out; */
}

.action_btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    color: white;
}

.action_btn-sec button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: large;
    background-color: var(--RbluePrimary);
    color: white;
    padding: 12px 17px;
    border: none;
    border-radius: 5px;
    /* width: 12vw;
    height: 40px; */
    cursor: pointer;
}

.action_btn-sec a {
    color: white;
}


/* Footer */

.footer {
    padding: 30px 20px;
    background-color: var(--tealPrimary);
}

.imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a {
    color: var(--offWhite);
}

.footer ul {
    font-weight: 500;
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}

.footer-nav-links {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
}

.social-links li {
    color: var(--RbluePrimary);
    font-size: 30px;
    gap: 70px;
}

.sub-footer {
    background-color: var(--deepBlack);
    color: var(--lightGray);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-footer p {
    margin: 15px;
}

.sub-footer a {
    color: var(--lightGray);
}

.sub-footer a:hover {
    color: var(--tealPrimary);
}