* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: Parafina_Black;
    src: url(../assets/fonts/ParafinaTrial-BlackM.otf);
}

@font-face {
    font-family: Parafina_Bold;
    src: url(../assets/fonts/ParafinaTrial-BoldM.otf);
}

@font-face {
    font-family: Parafina_Light;
    src: url(../assets/fonts/ParafinaTrial-LightM.otf);
}

@font-face {
    font-family: Parafina_Medium;
    src: url(../assets/fonts/ParafinaTrial-MediumM.otf);
}

@font-face {
    font-family: Parafina_Regular;
    src: url(../assets/fonts/ParafinaTrial-RegularM.otf);
}

@font-face {
    font-family: Parafina_Thin;
    src: url(../assets/fonts/ParafinaTrial-ThinM.otf);
}

:root {
    --tealPrimary: #1abc9c;
    --RbluePrimary: #3b82f6;
    --RblueSecondary: #195dfd;
    --offWhite: #f2f0ef;
    --lightGray: #d3d3d3;
    --deepBlack: #0D0D0D;
}

/* 
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

a {
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 50px 20px;
    /* margin: 50px; */
}

li {
    list-style: none;
}

.heading h2 {
    font-family: "Parafina_Bold", sans-serif;
    font-size: xx-large;
    letter-spacing: 1px;
}

/* header {
    position: sticky;
} */

.navbar {
    background-color: var(--RbluePrimary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding: 20px 50px;
    position: relative;

}

.nav-links ul {
    font-weight: 500;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 0;
    gap: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    color: var(--offWhite);
    transition: .5s;
}

.nav-links a:hover {
    color: var(--lightGray);
    /* animation: ease-in-out; */
}

.active {
    background-color: var(--RblueSecondary);
    padding: 12px 17px;
    border: none;
    border-radius: 5px;
}

.action_btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    color: white;
}

.action_btn-sec button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: large;
    background-color: var(--RbluePrimary);
    color: white;
    padding: 12px 17px;
    border: none;
    border-radius: 5px;
    /* width: 12vw;
    height: 40px; */
    cursor: pointer;
    transition: .5s;
}

.action_btn-sec a {
    color: white;
}

.hero {
    height: 80vh;
}

.btn-cards {
    display: flex;
    justify-content: center;
    color: var(--offWhite);
    gap: 20px;
    padding: 0 10%;
}

.card {
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--RbluePrimary);
    padding: 20px 30px;
    text-align: center;
}

.card i {
    color: var(--offWhite);
    font-size: xx-large;
}

.card p {
    /* font-size: s/mall; */
    /* width: 85%; */
}

.card button {
    /* width: 85%; */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: large;
    background-color: var(--offWhite);
    color: var(--RbluePrimary);
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    /* wid eth: 12vw;
    height: 40px; */
    cursor: pointer;
    transition: .5s;
}

.card button:hover {
    background-color: var(--lightGray);
    box-shadow: 0px 17px 25px -5px rgba(0, 0, 0, 0.17);
    transition: ease-in-out 0.5s;
}

/* About */
.about-container {
    display: flex;
    padding: 50px;

}

.about-info span {
    background-color: var(--tealPrimary);
    padding: 2px 3px;
    border-radius: 3px;
    color: var(--offWhite);
}

.about-info .blackBG {
    background-color: var(--deepBlack);
    padding: 1px 3px;
    border-radius: 3px;
    color: var(--offWhite);
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 50%;
}

.about-info p {
    line-height: 23px;
    padding: 0 100px 0 0;
}

.cta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 100px 0 0 50px;
    gap: 50px;
}

.cta-section button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: medium;
    background-color: var(--RbluePrimary);
    color: white;
    padding: 12px 17px;
    border: none;
    border-radius: 5px;
    /* width: 12vw;
    height: 40px; */
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    transition: .5s;
}

.cta-section i {
    font-size: x-large;
    transition: 0.5s;
}

.cta-section i:hover {
    font-size: xx-large;
}

.cta-section button:hover {
    background-color: var(--RblueSecondary);
}

/* Footer */

.footer {
    padding: 30px 20px;
    background-color: var(--tealPrimary);
}

.imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a {
    color: var(--offWhite);
}

.footer ul {
    font-weight: 500;
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}

.footer-nav-links {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
    color: var(--offWhite);
}

.social-links li {
    color: var(--RbluePrimary);
    font-size: 30px;
    gap: 70px;
}

.sub-footer {
    background-color: var(--deepBlack);
    color: var(--lightGray);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-footer p {
    margin: 15px;
}

.sub-footer a {
    color: var(--lightGray);
    transition: 0.5s;
}

.sub-footer a:hover {
    color: var(--tealPrimary);
}


.login_nav-btn button {
    background-color: var(--offWhite);
    transition: 0.5s;
}

.login_nav-btn button:hover {
    background-color: var(--lightGray);
}

.login_nav-btn a {
    color: var(--RbluePrimary);
}