@font-face {
    font-family: Parafina_Black;
    src: url(../assets/fonts/ParafinaTrial-BlackM.otf);
}

@font-face {
    font-family: Parafina_Bold;
    src: url(../assets/fonts/ParafinaTrial-BoldM.otf);
}

@font-face {
    font-family: Parafina_Light;
    src: url(../assets/fonts/ParafinaTrial-LightM.otf);
}

@font-face {
    font-family: Parafina_Medium;
    src: url(../assets/fonts/ParafinaTrial-MediumM.otf);
}

@font-face {
    font-family: Parafina_Regular;
    src: url(../assets/fonts/ParafinaTrial-RegularM.otf);
}

@font-face {
    font-family: Parafina_Thin;
    src: url(../assets/fonts/ParafinaTrial-ThinM.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--offWhite);
}

:root {
    --tealPrimary: #1abc9c;
    --RbluePrimary: #3b82f6;
    --offWhite: #f2f0ef;
    --lightGray: #d3d3d3;

    --deepBlack: #0D0D0D;

    --primary-Blue: #4F46E5;
    --success-Green: #10B981;
    --error-red: #EF4444;
    --mutedText-gray: #c5c8cc;
}

.prevent-select {
    user-select: none;
}

.hidden {
    display: none;
}

.container {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-size: 300% 300%;
    animation: gradient 15s ease infinite; */
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* width: 60vw;
    height: 50vh; */
    border-radius: 10px;
    padding: 50px 5%;
}

.card a {
    color: var(--RbluePrimary);
}

a {
    text-decoration: none;
}

.header-sec {
    padding: 0 50px;
    text-align: center;
}

.card h3 {
    font-family: "Parafina_Medium", sans-serif;
    font-size: xx-large;
    letter-spacing: 0.07em;
    font-weight: 700;
}

.img-sec {}

.social_icon-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social_icons a {
    font-size: larger;
    margin: 2px;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.10);
    border-radius: 50%;
}

.inputs-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp {}

.pass-inputs {
    display: flex;
    justify-content: center;
}

.password input {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    height: 70px;
    width: 12.2vw;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 15px;
    background: none;
    border: none;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.10);
}

.password input::placeholder {
    font-family: "Montserrat", sans-serif;
    color: var(--mutedText-gray);
    font-size: large;
}

.inp input {
    font-family: "Montserrat", sans-serif;
    height: 70px;
    margin: 8px;
    padding: 5px 15px;
    border-radius: 15px;
    background: none;
    border: none;
    width: 25vw;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.10);
    font-size: large;
}

.inp input::placeholder {
    font-family: "Montserrat", sans-serif;
    color: var(--mutedText-gray);
}

.inp input:focus {
    background-color: var(--mutedText-gray);
    border: none;
}

.display_error {
    padding-left: 5px;
    text-align: start;
    color: var(--mutedText-gray);
}

.password input:focus {
    background-color: var(--mutedText-gray);
    border: none;
}

.inp input:focus::placeholder {
    color: white;
}

.password input:focus::placeholder {
    color: white;
}

/* Success Msg page */

.success {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.fa-circle-check {
    color: green;
    font-size: 50px;
}

.fa-triangle-exclamation {
    color: var(--error-red);
    font-size: 50px;
}

.footer-sec {}

.action_btn-sec {
    padding: 10px;
    color: white;
}

.action_btn-sec button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: large;
    background-color: var(--RbluePrimary);
    color: white;
    padding: 12px 17px;
    border: none;
    border-radius: 5px;
    /* width: 12vw;
    height: 40px; */
    cursor: pointer;
}


.action_btn-sec a {
    color: white;
}